---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
---

<Layout title="Welcome to Succession of Witches">
	<main class="flex flex-col  items-center">
		<Home />
	</main>
</Layout>

